header {
    background: #09473f;
}

.admin-wrapper {
    display: flex;
    height: calc(100% - 66px);
    /* flex-direction: column; */
}

.admin-wrapper .left-sidebar {
    /* flex: 2; ovo sam izbacio.. */
    display: block;
     /* ovo sam dodao  */
    max-height: 100%;
    /* height: 100%; */
    background-color: #175064;
}

.admin-wrapper .left-sidebar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    color: white;
}

.admin-wrapper .left-sidebar ul li a {
    padding: 18px;
    display: block;
    border-bottom: 1px #09473f solid;
    text-align: center;

}

.admin-wrapper .left-sidebar ul li a:hover {
    background: #05302a;
}

.admin-wrapper .admin-content {
    flex: 8;
    height: 100%;
    /* ovo si dodao */
    padding: 40px min(100px, 3vw) 100px;
    /* padding: 40px 100px 100px; */
    overflow-y: scroll;
}

.admin-content .page-title {
    text-align: center;
    margin-bottom: 1.3rem;
}

table {
    width: 100%;
    border-collapse: collapse;
    font-size: 1.1rem;
}

th,
td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px #09473f solid;
}

.edit {
    color: #218c7e;
}

.delete {
    color: red;
}

.publish {
    color: blue;
}

.edit:hover,
.delete:hover,
.publish:hover {
    text-decoration: underline;
}

form div {
    margin-bottom: 15px;
}

form div label {
    display: block;
    margin-bottom: 5px;
}